<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/index.css">
    <title>Custom Dropdown</title>
    <meta name="description" content="Custom Dropdown Index page">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">


</head>

<body>
    <div id="container" class="container">
        <h1>Task Tracker</h1>
        <div id="task-form" class="task-input">
            <input id="task-text" name="task-text" placeholder="Start Writing and press enter to create task"
                type="text" required>
            <button id="task-submit-btn" name="task-submit-btn" type="submit">↵</button>
        </div>
        <section id="task-list">
            <!-- <div class="task">
                <input type="checkbox">
                <p>New task is created and added to the list</p>
                <img src="icon/bin.png" alt="">
            </div> -->
        </section>



    </div>
    <script src="/js/index.js"></script>
</body>

</html>